@inherits System.Web.Mvc.WebViewPage

@{
    ViewBag.Title = "TesteSistemaEcommerce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>
   Descrição tecnica do projeto  
</h4>
<p>
    O Crud Ultiliza SQL Server com procedure T-SQL C# ASP.NET MVC com JavaScript,
    templete do Bootstrap https://startbootstrap.com/template/shop-homepage
</p>

